.homePage {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-x: hidden;
    background-color: whitesmoke; 

}

.movieSmallImage{
    width: 10em; 
}

.movieCard{
    width: 12em;
    cursor:pointer;
    margin-top: 1em;
    margin-bottom: 20px;
    height: auto;
    padding: 4px;
}

.movieCard:hover {
    transition: 0.5s;
    transform: scale(1.1);
}


.leftSide{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke; 
    margin-top: 3em;
}

.rightSide{
    width: 35vw;
    background-color: whitesmoke;
    padding-bottom: 1em; 
    margin-top: 1.5em;
}

.homeLoadingDesign {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 800;
}